{% extends 'base.html.twig' %}

{% block title %}Group{% endblock %}

{% block body %}
    <h1>{{ group.name }}</h1>
    Here is a list of students currently in {{ group.name }}
    <br>
    <br>

   {% for student in students %}

        {% if group.id == student.group.id %}
            Name: {{ student.firstName }} {{ student.surname }}
            <br>
            {% if is_granted('ROLE_USER') %}
                Student Report: <a href="{{ url('student_show', {id : student.id} ) }}">Student Report</a>
            {% endif %}
            <br>
            <br>
        {% endif %}
    {% endfor %}

    {% if is_granted('ROLE_USER') %}
        <a href="{{ path('student_new')}}">Create new student</a> <br>
    {% endif %}

    {% if is_granted('ROLE_ADMIN') %}
        <a href="{{ path('group_edit', {'id': group.id}) }}">Edit</a>
        {{ include('group/_delete_form.html.twig') }}
    {% endif %}

    <a href="{{ path('group_index') }}">Back</a>
    <br>

{% endblock %}